body {
  background-color: #252531;
  color: white;
  font-family: CenturyGothic;
  overflow-x: hidden;
  z-index: -10;
}

@font-face {
  font-family: CenturyGothic;
  src: url(assets/fonts/GOTHIC.TTF);
}

@font-face {
  font-family: CenturyGothicB;
  src: url(assets/fonts/gothicb.ttf);
}

@media only screen and (max-width: 750px) {


  .frontbox {
    margin-left: 0 !important;
    padding: 15px !important;
    width: 100% !important;
  }
  h1#sitetitle {
    font-size: 450% !important;
  }

  .sidenav-trigger {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px !important;
    margin: 0 !important;
  }
}


::selection {
  background: #58FAF4;
  color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

style.fixed-height {
  width: 500px;
}
#one {
  height: 100vh;
  background-image: url("assets/images/background.png");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

#two {
  text-align: center;
  height: 100vh;
  background-image: url("assets/images/background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

.texthighlight {
  background-color: #26a69a;
  border-radius:2px;
}
.grey-round-box {
  background-color: #4f4f65;
  padding: 25px;
  border-radius: 10px;
}

.frontbox-center {

}


.sidenav-trigger {
  margin: 2%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  font-size: 150%;
  background-color: #4f4f65;
  color: white;
  position: fixed;
  z-index: 20;
  transition: linear 0.2s;
}

.sidenav-trigger:hover {
  background-color: #6F6F92;
  transition: linear 0.2s;

}


.sidenav {
  background-color: #2E2E2E !important;
}

.sidenav a {
  color: white !important;
}

li.active a {
  font-family: CenturyGothicB;
}

li.active {
  background-color: #585858 !important;
}

li {
  transition: linear 0.5s;
}
li:hover {
  text-decoration: underline solid grey 2px;
  transition: 0.5s;
  background-color: #424242 !important;
}

h1 {
  padding: 0;
  margin: 0 !important;
  font-family: CenturyGothicB;
  line-height: 0;
}

.nopadding {
  padding: 0;
  margin: 0;
}
#smallscript {
  font-size: 20% !important;
  display: inline;
  font-family: CenturyGothic;
  white-space: nowrap;
  color: #b4b4bd
}
.font-r {
  font-family: CenturyGothic;
}

.logo {
  font-family: CenturyGothicB;
}
h2 {
  font-family: CenturyGothicB;
  line-height: 0;
}

.next-bar {
  width: 100%;
  height: 450px;
  border-top: grey solid 1px;
  color: white;
  background: inherit;
  overflow: hidden;
}

.next-bar-bg {
  border-top: grey solid 1px;
  background-image: url("assets/images/background.png");
  overflow: hidden;
  filter: blur(10px);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}
#footerlink {
  color: white;
  font-family: CenturyGothic;
  font-size: 170%;
  text-decoration: underline grey;
}

#footerlink:hover {
  text-decoration: underline white;
}

h3 {
  font-family: CenturyGothicB;
  line-height: 0;
}

.underline {
  border-bottom: 2px grey solid;

}
.header {
  position: fixed;
}


.card-title {
  font-family: CenturyGothic;
}
#sitetitle {
  font-size: 900%;
  line-height: 1;
}

#sitetitle-two {
  font-size: 600%;
  line-height: 1;
}

#sitedescription {
  margin: 0;
  padding: 0;
  font-size: 200%;
  color: #b4b4bd;
}

.frontbox {
  opacity: 0;
  margin-left: 30px;
  padding-left: 50px;
  width: 850px;
  animation-name: scalething;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.75rem black);
}


@keyframes scalething {
  from {opacity: 0;padding-top: 100px;}
  to {opacity: 10;padding-top: 0px;}
}


@keyframes sitefade {
  from {opacity: 1; z-index: 10;}
  to {opacity: 0;z-index: 20;}
}


a.no-decoration {
  text-decoration: none;
  color: white;
}
.p-card {
  background-color: #252531 !important;
}

.center {
  text-align: center;
}
.site-cover {
  background-color: #252531;
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100%;
  animation-name: sitefade;
  animation-duration: 2s;
}

.p-card-img {
  overflow: hidden;
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.cardportfolio {
  background-color: RGBA(0,0,0,10) !important;
  box-shadow: 0;
  max-width: 300px;
  max-height: 300px;
}
.card {
  background-color: #4f4f65 !important;
  border-radius: 10px !important;
}

.portfoliocard {
  background-color: black;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: RGBA(38,29,62,0.5);
}

.portfoliocard:hover .portfolio-overlay{
  opacity:1;
}

#footer {
  background-color: rgba(0,0,0,0.3);
}
.portfoliocard h5 {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}
p {
  font-family: 'Zilla Slab', serif;
  font-size: 120%;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 10;}
}
