body {
  background-color: #252531;
  color: white;
  font-family: CenturyGothic;
  overflow-x: hidden;
  z-index: -10;
}

@font-face {
  font-family: CenturyGothic;
  src: url(assets/fonts/GOTHIC.TTF);
}

@font-face {
  font-family: CenturyGothicB;
  src: url(assets/fonts/gothicb.ttf);
}

@media only screen and (max-width: 750px) {

  #next-bar-arrow {
    display: none;
  }
  .frontbox {
    margin-left: 0 !important;
    padding: 15px !important;
    width: 100% !important;
  }
  h1#sitetitle {
    font-size: 450% !important;
  }

  .portfolio-overlay {
    opacity: 1 !important;
  }

  .sidenav-trigger {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px !important;
    margin: 0 !important;


  }

  .materialboxed {
    width: 90%;
    height: auto;


  }
  #footer-left {
    width: 100% !important;
    text-align: center;
  }

  #footer-right {
    margin-top: 0px;
    border-left: 0px !important;
    border-top: 2px solid white;
    width: 100% !important;
    margin-bottom: 60px;
  }

  .portfolio-overlay h5 {
    font-size: 130%;
  }
}

.social {
  width: 30px;
  height: auto;
  margin-top: 20px;
  margin-left: 10px;
}
::selection {
  background: #58FAF4;
  color: black;
}

.materialboxed {

  margin-top: 10px;
  margin-bottom: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

style.fixed-height {
  width: 500px;
}

.citation {
  color: grey;
}
#one {
  height: 100vh;
  background-image: url("assets/images/background.png");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}


#two {
  text-align: center;
  height: 100vh;
  background-image: url("assets/images/background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}


#three {
  height: 300px;
  background-color: #4f4f65;
}
.texthighlight {
  background-color: #26a69a;
  border-radius:2px;
}
.grey-round-box {
  background-color: #4f4f65;
  padding: 25px;
  border-radius: 10px;
}

.frontbox-center {

}

.portfolio-text {
  font-size: 0%;
}

.sidenav-trigger {
  margin: 2%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  font-size: 150%;
  background-color: #4f4f65;
  color: white;
  position: fixed;
  z-index: 20;
  transition: linear 0.2s;
}

.sidenav-trigger:hover {
  background-color: #6F6F92;
  transition: linear 0.2s;

}


.sidenav {
  background-color: #252531 !important;
}

.sidenav a {
  color: white !important;
}

li.active a {
  font-family: CenturyGothicB;
}

.sidenav li:hover {
  background-color: #6F6F92 !important;
}

li.active {
  background-color: #4f4f65 !important;
}

li {
  transition: linear 0.5s;
}
li:hover {
  text-decoration: underline solid grey 2px;
  transition: 0.5s;
  background-color: #424242 !important;
}

h1 {
  padding: 0;
  margin: 0 !important;
  font-family: CenturyGothicB;
  line-height: 0;
}

.nopadding {
  padding: 0;
  margin: 0;
}
#smallscript {
  font-size: 20% !important;
  display: inline;
  font-family: CenturyGothic;
  white-space: nowrap;
  color: #b4b4bd
}
.font-r {
  font-family: CenturyGothic;
}

.logo {
  font-family: CenturyGothicB;
}
h2 {
  font-family: CenturyGothicB;
  line-height: 0;
}

.next-bar {
  width: 100%;
  height: 250px;
  border-top: grey solid 1px;
  color: white;
  background-color: #4f4f65;
  overflow: hidden;
  border-radius: 25px;
  transition: ease 0.5s;
  padding-top: 40px;
  padding-left: 30px;
  margin-bottom: 30px;
}

.next-bar:hover {
  background-color: #8686B2;
  transform: scale(1.05);
  border-top: white solid 1px;
}

#next-bar-arrow {
  font-size: 100px;
  margin-top: 35px;
}
.next-bar-bg {
  border-top: grey solid 1px;
  background-image: url("assets/images/background.png");
  overflow: hidden;
  filter: blur(10px);
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}
#footerlink {
  color: white;
  font-family: CenturyGothic;
  font-size: 170%;
  text-decoration: underline grey;
}

#footerlink:hover {
  opacity: 0.5;
}

#footer-right {
  text-align: center;
  border-left: 2px solid white;
  padding: 25px;
}

button {
  font-family: 'Roboto', sans-serif !important;
  border-radius: 10px;
  padding: 10px;
  margin: 5px !important;
  font-size: 130% !important;
  background-color: inherit;
  border: 2px white solid;
  color: white;
  transition: linear 0.1s;
  cursor: pointer;
}

button:hover {
  background-color: #4f4f65;
}
#footerlink:hover {
  text-decoration: underline white;
}

.link {
  color: white;
  border-bottom: grey 1px solid;
}

.link-nodeco {
  border-bottom: 0px !important;
}

.link:hover {
  opacity: 0.5;
}
h3 {
  font-family: CenturyGothicB;
  line-height: 0;
}

.underline {
  border-bottom: 2px grey solid;

}
.header {
  position: fixed;
}


.card-title {
  font-family: CenturyGothic;
}
#sitetitle {
  font-size: 900%;
  line-height: 1;
}

#sitetitle-two {
  font-size: 600%;
  line-height: 1;
}

#sitedescription {
  margin: 0;
  padding: 0;
  font-size: 200%;
  color: #b4b4bd;
}

.frontbox {
  opacity: 0;
  margin-left: 30px;
  padding-left: 50px;
  width: 850px;
  animation-name: scalething;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  filter: drop-shadow(0 0 0.75rem black);
}

.carousel {
  height: 700px !important;
}

.carousel .carouselitem {
  width: 230% !important;
}

.carousel .carouselitem img {
  width: 430% !important;
}
@keyframes scalething {
  from {opacity: 0;padding-top: 100px;}
  to {opacity: 10;padding-top: 0px;}
}


@keyframes sitefade {
  from {opacity: 1; z-index: 10;}
  to {opacity: 0;z-index: 20;}
}


a.no-decoration {
  text-decoration: none;
  color: white;
}

a.button {
  text-decoration: none;
  color: white;
  background-color: #26a69a;
  padding: 10px;
  border-radius: 5px;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: CenturyGothicB;
  white-space: nowrap;
  transition: ease 0.5s;

}

a.button:hover {
  transform: scale(1.1)
}
.p-card {
  background-color: RGBA(0,0,0,0) !important;
  border-radius: 10px;
}

.center {
  text-align: center;
}
.site-cover {
  background-color: #252531;
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100%;
  animation-name: sitefade;
  animation-duration: 2s;
}

.p-card-img {
  overflow: hidden;
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.cardportfolio {
  background-color: RGBA(0,0,0,10) !important;
  box-shadow: 0;
  max-width: 300px;
  max-height: 300px;
}
.card {
  background-color: #4f4f65 !important;
  border-radius: 10px !important;
}

.portfoliocard {
  background-color: black;
}

.transparent {
  background-color: RGBA(0,0,0,10) !important;
  box-shadow: none !important;
}
.zoom {
  transition: ease 0.5s !important;
}

.no-padding {
  padding: 0px !important;
  margin: 0px !important;
}
.zoom:hover {
  transition: ease 0.5s;
  transform: scale(1.1);

}

.no-overflow {
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 98%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: RGBA(69,69,92,0.7);
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  max-height: 298px;
  max-width: 298px;
}

.portfoliocard:hover .portfolio-overlay{
  opacity:1;
}

#footer {
  background-color: rgba(0,0,0,0.3);
  height: 25




}


.portfoliocard h5 {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}
p {
  font-family: 'Roboto', serif;
  font-size: 120%;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 10;}
}
}
