<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #252531;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index">Profiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Freelance Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Working Drawings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>