<div class="container">
    <div class="pn-card-showcase bg-primary">
        <div class="container pn-showcasecard-position-absolute ">
            <div class="pn-sccard-content">
                
                <div class="pn-card-top">
                    <h2>CARD TITLE</h2>
                </div>
                <div class="pn-card-middle">

                </div>

                
                <div class="pn-card-bottom" >
                    <div class="row">
                        <div class="col-lg-10 align-bottom">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        
                        <div class="col-lg-2 align-bottom pb-3">
                            <a class="btn btn-lg btn-light" style="display: block;">EXPLORE</a>
                        </div> 
                    </div>
                </div>  
            
            </div>
        </div>

    </div>
</div>