



$primary: #50799F;
$secondary: #62BB60;
$success: #62BB60;
$info: #56697B;
$warning: #E4D865;
$danger: #FF6666;
$light: #EBEBEB;
$dark: #181F25;

@keyframes page-fade {
    from {display:block; position: fixed; opacity: 1;}
    to {opacity: 0;}
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://use.typekit.net/fyc4ksj.css");


body {
    font-family: 'Elza', sans-serif;
}
.pn-siteheader {
    background-color: $primary;
    height: 55px;
}

h1, h2 {
    color: $primary;
    font-weight: 600;
}

h3, h4, h5 {
    color: $primary;
    font-weight: 600;
}

.container {

}
.container-small {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .container-small {
        max-width: 600px;
    }

} 

.btn {
    font-weight: 800;
    border-radius: 0px;
}

/** View Elements **/


.pn-card-showcase {
    .pn-card-showcase-image {
        img {
            width: 100%;
            height: auto;
        }
    }

    .pn-card-showcase-content {
        .content {
            border-top: 5px $primary solid;
            padding-top: 25px;
        }          
    }
}



.header-showcase {
    height: 80vh;
    background-color: $light;
    h1 {
        color: $primary;
        font-weight: 600;
        font-size: 300%;
    }
    .showcase-content {
        width: 50%;

        h1 {
            border-bottom: 5px solid $primary;
            padding-bottom: 25px;
            margin-bottom: 25px;
        }
    }

}

#paul-narvas-homepage {

    background-image: url('/assets/branding/logobackground.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    h1 {
        font-size: 180%;
        text-align: left;
        font-weight: 500;
        margin-top: 50px;
    }

    .PAULNARVASlogo {
        font-size: 320%;
        font-weight: 800;
        line-height: 1;
    }
}


.navigation-wrapper {
    position: fixed;
    top: 90vh;
    z-index: 100000000000;
}


.navigation {
    background-color: rgba(255, 255, 255, 0.736);
    border: 0.5px solid rgba(128, 128, 128, 0.333);
    width: auto;
    height: auto;
    margin-bottom: 5vh;
    padding: 5px;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    filter: drop-shadow(1px 12px 20px rgba(0, 0, 0, 0.339));

    .navigation-item {
        padding: 10px;
        color: black;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 110%;
        border-radius: 5px;
        font-weight: 600;
        text-decoration: none;
        transition: linear 0.2s;
    }

    .navigation-item:hover {
        background-color: rgba(0, 0, 0, 0.165);
    }

}

.navigation-button-mobile {
    display: none;
}
.navigation-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    justify-content: center;
}

.page-fade {
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    position: fixed;
    z-index: 10;
    animation-name: page-fade;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}




.mini-info {
    color: $info;
    font-size: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
    .info-tag {
        display: inline-block;
    }
}


@media screen and (max-width: 412px) {

    .navigation-wrapper {
        display: block;
        top: 96vh;
        .navigation-button-mobile {
            background-color: rgba(236, 236, 236, 0.736);
            border-top: 0.5px solid rgba(128, 128, 128, 0.333);
            padding: 5px;
            width: 100%;
            display: block;
            text-align: center;
            backdrop-filter: blur(2px);
            .bi {
                font-size: 150%;
            }
        }

        .navigation {
            display: none;
        }
    }

  }

  .offcanvas {
    backdrop-filter: blur(2px);
  }


.image-header-showcase {
    background-image: url(/assets/branding/pnplaceholder.png);
    background-size: cover;
    background-position:bottom;
    height: 40vh;
    overflow: hidden;
    img {
        object-fit:cover;
        height: 100%;
        width: 100%;
    }
}

.page-header {
    border-bottom: 5px solid $primary;
    margin-top: 30px;
    margin-bottom: 30px;
}


.imgcard {
    transition: 0.3s ease-in-out;
    
  
    .img-imgcard {
      background-image: url('/assets/branding/pnplaceholder1.png');
      background-size: 100%;
      background-position: center;
      display: grid;
      z-index: -1;
      overflow: none;
  
      img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  
      
    }
  
  
  
    
    .content-imgcard {
      height: auto;
      padding-top: 20px;
      width: 80%;
      background-color: white;
      margin-top: -50px;
      padding-right: 20px;
      z-index: 500 !important;
      position: relative;
  
      
      span {
        display: block;
      }
      .card-title {
        font-size: 140%;
        font-family: "elza", sans-serif;
        font-weight: 700;
        color: $primary;
        border-bottom: 2px $primary solid;
        padding-bottom: 5px;
        margin-bottom: 10px;
        
      }
  
      .card-miscinfo {
        font-size: 80%;
        color: rgb(177, 177, 177);
      }
  
      .card-CTA {
        
        font-size: 80%;
        padding-top: 15px;
        color: $primary;
        text-decoration-line: underline;
        .bi-arrow-right {
          transition: 0.3s ease-in-out;
        }
        transition: 0.3s ease-in-out;
      }
  
      transition: 0.3s ease-in-out !important;
    }
    
  
  }
  
  .imgcard:hover {
    .content-imgcard {
      transform:translateY(-20px);
    }
  }
  
  .imgcard:active {
    transition: 0.2s ease-in-out;
    transform:scale(0.8);
  
  }

  .container-narrow {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    width: auto;
  }

  .text-header-focus {
    height: 50vh;
    display: flex;

    .text-header-focus-content {
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
  }

  .profile-photo {
    border-radius: 900px;
  }