{% include core-top.html %}
<div class="container-narrow text-header-focus" >
    <div class="text-header-focus-content">
        <img class="mt-3 profile-photo mb-3" src="/assets/branding/pnpaul.png" style="width: 250px; height: 250px;">
        <h1>Profile</h1>
    </div>
</div>

<div class="container">

    <h2 class="page-header pb-2">Work Experience</h2>
    <div class="row " data-masonry='{"percentPosition": true }' >

    {% for job in site.data.profile.jobexperience %}
        <div class="col-md-6 mb-4">
            <div class="card">

                <div class="card-header">
                    {{job.years}}
                </div>

                <div class="card-body">
                    <h4 class="card-title">{{job.title}}</h4>
                    <p class="card-text">{{job.description}}</p>
                </div>
            </div>
        </div>

    {%endfor%}

    </div>
</div>


<div class="container">

    <h2 class="page-header pb-2">Education</h2>
    <div class="row " data-masonry='{"percentPosition": true }' >

    {% for education in site.data.profile.educationexperience %}
        <div class="col-md-6 mb-4">
            <div class="card">

                <div class="card-header">
                    {{education.years}}
                </div>

                <div class="card-body">
                    <h4 class="card-title">{{education.title}}</h4>
                    <p class="card-text">{{education.description}}</p>
                </div>
            </div>
        </div>

    {%endfor%}

    </div>
</div>
{% include core-bottom.html %}