{% include core-top.html %}

{% include view/showcase-components/image-header-showcase.html %}

<div class="container page-header" id="page-header">
    <div class="row">
        <div class="col-md-6">
            <h1>{{page.title}}</h1>
        </div>
        <div class="col-md-6">
            <div class="mini-info">
                <span class="info-tag">#{{page.category}}</span>
                <span class="info-tag"> | </span>
                <span class="info-tag">{{page.date | date: "%B %Y" }}</span>
            </div>
            <p>{{page.description}}</p>
        </div>
    </div>
</div>


{{content}}


<div class="container mt-5 mb-5">
    <div class="ratio ratio-16x9">
        <div id='viewer' class="portfolio-images"></div>
      </div>
</div>

<div style="margin-top: 100px;"></div>


<script>
    WebViewer({
      path: '/assets/pdfjs/lib', // path to the PDF.js Express'lib' folder on your server
      licenseKey: 'og9V98VhwHsgLfyminJL',
      initialDoc: '{{page.pdf}}',
      // initialDoc: '/path/to/my/file.pdf',  // You can also use documents on your server
    }, document.getElementById('viewer'))
    .then(instance => {
      // now you can access APIs through the WebViewer instance
      const { Core, UI } = instance;
  
      // adding an event listener for when a document is loaded
      Core.documentViewer.addEventListener('documentLoaded', () => {
        console.log('document loaded');
      });
  
      // adding an event listener for when the page number has changed
      Core.documentViewer.addEventListener('pageNumberUpdated', (pageNumber) => {
        console.log(`Page number is: ${pageNumber}`);
      });
    });
  </script>


{% include core-bottom.html %}