{% include core-top.html %}

{% include view/showcase-components/image-header-showcase.html %}

<div class="container page-header" id="page-header">
    <div class="row">
        <div class="col-md-6">
            <h1>{{page.title}}</h1>
        </div>
        <div class="col-md-6">
            <div class="mini-info">
                <span class="info-tag">#{{page.category}}</span>
                <span class="info-tag"> | </span>
                <span class="info-tag">{{page.date | date: "%B %Y" }}</span>
            </div>
            <p>{{page.description}}</p>
        </div>
    </div>
</div>


{{content}}


<div class="container mt-5 mb-5">
    <div class="ratio ratio-16x9">
        <div id="portfolio-images"></div>
      </div>
</div>

<div style="margin-top: 100px;"></div>



<script src="https://unpkg.com/pdfobject"></script>
<script>PDFObject.embed("/assets/portfolio.pdf", "#portfolio-images");</script>
{% include core-bottom.html %}