<div class="col-md-6 mb-5" >

    <div class="imgcard" style="cursor: pointer;" onClick="location.href='{{post.url}}'">
        <div class="img-imgcard ratio ratio-16x9">
            {% if post.img.size > 1 %}
            <img class="img-loadplaceholder" src="{{post.img}}">
            {%endif%}
        </div>

        <div class="content-imgcard">
            <span class="card-title">{{post.title}}</span>
            <span class="card-description">{{post.description}}</span>
            <span class="card-miscinfo">{{post.date | date: "%b %Y"}} | {{post.skills}} {% if post.category %} {{post.category}} {%endif%}</span>
            <span class="card-CTA">Learn more about project <i class="bi bi-arrow-right"></i></span> 
        </div>
    </div>

</div>